html{
    background-image: linear-gradient(to left, white 0%, #facd8a 100%)
}
body{
font-family: Arial, Helvetica, sans-serif;
font-size: 100%;
width: 90%;
background-color: white;
margin-top:15em;
margin-bottom: 15em;
padding-top: 15px;
padding-bottom:15px;
padding-right:1.5em ;
padding-right:1.5em; ;
border: 1px solid black;
border-radius: 25px;
box-shadow: 5px 5px 0 0;
}
header{
    font-size: 130%;
    color: #800000;
    text-indent: 30px;
    text-decoration-line: 4px ;
    text-decoration-color: #800000;
}
header img{
    float: left;
}
aside{
    width:20%;
    float: right;
    background-color: #ffebc6;
    padding: 1em;

}

article h3{
    font-size:130%;
    color: maroon;
    text-indent: 30px;
    column-span: all;
}
article h4{
    font-size: 130%;
    color: #800000;
    text-indent: 30px;
}
article img{
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;

}
article p::first-letter {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    color: lightgreen;

}
.shadow{
    text-shadow: 2px 2px 2px rgb(128,0)
}
a:focus, a:hover{
    font-style: italic;
    color: orangered;
    border: 3px blue;
    border-style: dotted solid;
}
article{
    clear: left;
    width: 70%;
    float: left;
    column-count: 2;
    column-rule: 2px dotted maroon;
    column-gap: 2em;
    margin-left: 2em;
}
footer{
    clear: both;
    border-top: 2px solid maroon;
}
p.fixed{
    width: auto;
    position: fixed;
    bottom: 35%;
    right: 0;
    border: 3px solid darkgreen;
    background-color: lightgreen;
    padding:1em;
   
}